@if (Show){
    <div class="alert alert-secondary mt-4" role="alert">
        @ChildContent
    </div>
}

@code{
    [Parameter]
    [EditorRequired]
    public bool Show{get;set;}

    
    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent{get;set;}=default!;
}